@import 'tailwindcss';


:root {
  --background: #0f172a; /* Slate 900 */
  --foreground: #cbd5e1; /* Slate 300 */
  --card-bg: #1e293b;    /* Slate 800 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}